
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
.cabesera 
{
    font-size: 1.4rem;
    background-color: blue;
    text-align: center;
    padding-right: 20px;
    
}